*.obj
*.sbr
*.pdb
*.idb
*.bsc
*.dsp
*.dsw
*.ncb
*.suo

InoforLibs/.vs/InoforLibs/v17/Solution.VC.db
InoforLibs/Backup/InoforLibs.sln
lib/1.0/Basics-mt-d.lib
lib/1.0/Basics-mt.lib
lib/1.0/CcdOut-mt-d.lib
lib/1.0/CcdOut-mt.lib
lib/1.0/cppstd-mt-d.lib
lib/1.0/cppstd-mt.lib
lib/1.0/DxfOut-mt-d.lib
lib/1.0/DxfOut-mt.lib
lib/1.0/DxfRead-mt-d.lib
lib/1.0/DxfRead-mt.lib
lib/1.0/DxfRead3D-mt-d.lib
lib/1.0/DxfRead3D-mt.lib
lib/1.0/Matrix-mt-d.lib
lib/1.0/Matrix-mt.lib
lib/1.0/Persist-mt-d.lib
lib/1.0/Persist-mt.lib
lib/Geo/1.0/Approx-mt-d.lib
lib/Geo/1.0/Approx-mt.lib
lib/Geo/1.0/Contour-mt-d.lib
lib/Geo/1.0/Contour-mt.lib
lib/Geo/1.0/MsrData-mt-d.lib
lib/Geo/1.0/MsrData-mt.lib
InoforLibs/UpgradeLog.htm
InoforLibs/.vs/InoforLibs/v17/DocumentLayout.json
